body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('https://wallpapertag.com/wallpaper/5525-tumblr-backgrounds-1920x1080-for-meizu.jpg') !important;
  background: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin:0;
}
.container {
  width: 80%;
  margin: 0 auto 30px auto;
}

/* HEADER*/
.header {
  font-size: 40px;
  text-align: center;
}
.header-wapp {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.header-wapp h1 {
  margin:0;
  color: white;
  letter-spacing: 5px;
  text-shadow:
  2px  2px 2px black,
  2px -2px 2px black,
  -2px  2px 2px black,
  -2px -2px 2px black;
}
.header-wapp p {
  margin: 10px 0px 0px 0px;
  letter-spacing: 0;
  font-size: 20px;
  text-align: right;
}

/* THE WEATHER*/
.weather {
  margin: 30px 0px 0px 0px;
  padding-bottom: 10px;
}

/* LEFT COLUMN*/
.weather-basic {
  width:40%;
  float: left;
}
#city {
  font-size: 40px;
  color: white;
  text-shadow:
  2px  2px 2px #573D34,
  2px -2px 2px #573D34,
  -2px  2px 2px #573D34,
  -2px -2px 2px #573D34;
}
.wb-icon-temp {
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.wb-icon-temp img {
  width: 50%;
}
#temp {
  cursor: pointer;
}
.T {
  font-size: 70px;
  color: #573D34;
  text-shadow:
  2px  2px 2px white,
  2px -2px 2px white,
  -2px  2px 2px white,
  -2px -2px 2px white;
}
#descr {
  margin:0;
  font-size: 50px;
  color: #573D34;
  text-shadow:
  2px  2px 2px white,
  2px -2px 2px white,
  -2px  2px 2px white,
  -2px -2px 2px white;
  letter-spacing: 5px;
}
.wb-description {
  text-align: center;
}

/* RIGHT COLUMN*/
.weather-more {
  width:60%;
  float: left;
}
.more-info {
  font-size: 30px;
  color: #573D34;
  padding: 15% 0px 0px 20%;
  text-shadow:
  2px  2px 2px white,
  2px -2px 2px white,
  -2px  2px 2px white,
  -2px -2px 2px white;
  letter-spacing: 5px;
}


/* FOOTER*/
.footer {
  position: fixed;
  padding: 1%;
  color: white;
  text-align: center;
  background-color: #573D34;
  opacity: 0.8;
  bottom: 0;
  left: 0;
  right: 0;
}
