body {
  font-family: 'Roboto', sans-serif;
  background: #2e3134;
  color: white;
}
.my-container {
  margin: 0 300px 0 300px;
}


/* TOP HEADER*/
.top-header img {
  max-height: 135px;
  max-width: 150px;
  margin-right:25px;
  padding-bottom: 5px;
}
.title {
  padding: 15px 0px 0px 0px;
}
.top-header {
  padding-bottom: 20px;
}


/* TABLE CONTENT*/
.table-content {
  color: black;
  table-layout: fixed;
  border-collapse: collapse;
  padding-bottom: 20px;
}
.table-content th {
  background-color: #3c7026;
  color: white;
  font-size: 12px;
  text-align: center;
}
.table-content tr:nth-child(2n+1) {
  background-color: #eaeaea;
}
.table-content tr:nth-child(2n+0) {
  background-color: white;
}
tr td:nth-child(1) {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
tr td:nth-child(2) {
  font-size: 15px;
}
tr td:nth-child(3) {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}


/* FOOTER */
.footer {
  background-color: #15191c;
  color: #5e686f;
  padding: 20px;
}
.footer p{
  text-align: center;
  padding: 15px 0px 15px 0px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  margin-right: 500px;
  margin-left: 500px;
}
